.footer{
  top: 100%;
  position: sticky;
  overflow: hidden;
  background-color: var(--last-color);
  padding: 20px 10px;
}
p{
  color: var(--primary-color);
  font-size: 16px;
  text-align:justify;
}
a{
  color: var(--primary-color);
  padding: 0 5px;
  font-size: 16px;
  text-decoration: none;
}
a:hover{
  color: var(--third-color);
}
i{
  padding: 0 5px;
}

